
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Sharet/site_layout.cshtml";
}

<section class="notifications">
    <div class="container">
        <div class="row">
            
               <div class="col-lg-12 ">
                    <ul>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\1.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Vanessa Wells</b> started following you.</p>
                                    <h6>5 minutes ago</h6>
                                    <div class="btn_group">
                                        <a class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i></a>
                                        <a class="kafe-btn kafe-btn-red"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\1.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Vanessa Wells</b> commented on your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\1.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Vanessa Wells</b> liked your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\2.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anthony McCartney</b> started following you.</p>
                                    <h6>5 minutes ago</h6>
                                    <div class="btn_group">
                                        <a class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i></a>
                                        <a class="kafe-btn kafe-btn-red"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\2.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anthony McCartney</b> commented on your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\2.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anthony McCartney</b> liked your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\13.jpeg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anna Morgan</b> started following you.</p>
                                    <h6>5 minutes ago</h6>
                                    <div class="btn_group">
                                        <a class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i></a>
                                        <a class="kafe-btn kafe-btn-red"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\13.jpeg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anna Morgan</b> commented on your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\13.jpeg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Anna Morgan</b> liked your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\6.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Clifford Graham</b> started following you.</p>
                                    <h6>5 minutes ago</h6>
                                    <div class="btn_group">
                                        <a class="kafe-btn kafe-btn-mint"><i class="fa fa-check"></i></a>
                                        <a class="kafe-btn kafe-btn-red"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\6.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Clifford Graham</b> commented on your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media first_child">
                                <img src="~/Content/assets\img\users\6.jpg" alt="" class="img-responsive img-circle">
                                <div class="media_body">
                                    <p><b>Clifford Graham</b> liked your <span class="emp">photo</span>.</p>
                                    <h6>5 minutes ago</h6>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>

            </div><!--/ row-->
        </div><!--/ container -->
<!--/ profile -->
